<!DOCTYPE html>
<html>
<script>
    var username = '{{username}}'
    // function that makes API call to add an item
    function addItem(e) {
        let item = document.querySelector('.new-todo');
        fetch('/add-todo', {
            method: 'post',
            body: JSON.stringify({ 
            id: `item-${Date.now()}`,
            value: item.value,
            completed: 0
            })
        })
        .then(resp => {
            // empty form input once a response is received
            item.value = ""
        });
    }

    // function that makes API call to remove an item
    function removeItem(id) {
        fetch(`/remove-todo/${username}/${id}`);
    }

    function toggleComplete(elem) {
        let id = elem.dataset.id,
            completed = (elem.dataset.completed == "1" ? "0" : "1");
        fetch(`/update-todo/${username}/${id}/${completed}`, {
        method: 'post'
        });
    }

    // helper function to append new ToDo item to current ToDo list
    function appendToList(data) {
        let html = 
        `<li id="${data[0]}">
            <div class="view">
            <input class="toggle" type="checkbox" onclick="toggleComplete(this)>
            <label>${data[0]}</label>
            <button class="destroy" onclick="removeItem('${data[0]}')"></button>
            </div>
        </li>`;
        let list = document.querySelector(".todo-list")
        list.innerHTML += html;
    };
</script>

<head>
    <title> To Do Page </title>
</head>

<body>
    <h1>To Do List </h1>
</body>


</html>