<!DOCTYPE html>
<html>
<!-- <script>
    function myFunction() {
        var username = '{{username}}'
        var data = '{{data}}'
        var dataLength = data.length;
        document.getElementById("myText").innerHTML = username;
        let html;
        for (var i = 0; i < dataLength; i++){
            appendToList(data[i])
        }
        document.getElementById("ToDo").innerHTML = username;
    }
    function appendToList(data) {
        var ul = document.getElementById("todo-list");
        var li = document.createElement("li");
        li.appendChild(document.createTextNode(data));
        ul.appendChild(li);
    };
</script> -->
<head>
    <title> To Do Page </title>
</head>

<body>
    <h1>To Do List </h1>
    <!-- <ul id="todo-list"></ul> -->
    <div>
        <form action = "/add-todo", method="post">
            Add new item: <input type="text" name = "add" value="enter item"> 
            <input type = hidden value = {{request.form.username}} name = username>
            <input type = "submit" value = "Submit"> 
        </form>
    </div>
    <div>
        <ul>
            {% for each in todolist %}
                <li> <p>each.item</p></li>
            <form action = "/remove-todo">
                Delete: <input type="submit" name = "remove" value="Remove">
                <input type = hidden value = {{request.form.username}} name = username>
                <!-- <input type = "submit" value = "Submit"> {{request.form.remove}} -->
            </form>
            <form action = "/complete" method="post">
                Completed: <input type = "checkbox" value = "{{request.form.complete}}"> 
                <input type = hidden value = {{request.form.username}} name = username>
            </form>
            {% endfor %} 
        </ul>
    </div>
    <!-- <form action = "/add-todo" method = "post">
        Add new item: <input type = "text" name = "add" value="enter item">
        <input type = "submit" value = "Submit">
    </form> 
    <ul>
        {% for each in todolist %}
            <li> <p>each.item</p></li>
            <form action = "/complete" method = "post">
                <input type = "checkbox" class = complete>
            </form>
            <form action = "/remove-todo" method = "post" class=delete>
                <input type = hidden value = {{item}} name = item_delete>
                <input type = submit> 
            </form>
            {% endfor %} 
        </ul>-->


    <br><br><br>
    <form action="/logout">
        <input type="submit" value="Logout" />
    </form> 

</body>


</html>